 <nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo center">Home</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape New Articles</a></li>
      </ul>
    </div>
  </nav>